* {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    list-style: none;
}

li {
    font-family: "Abril Fatface", cursive;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav li a {
    transition: all 0.3s ease 0s;
}

nav li a:hover {
    color: #fdafde;
}

button {
    padding: 9px 25px;
    background-color: rgba(245, 173, 216, 0.8);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover {
    background-color: rgb(235, 193, 218);
}

header {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0px 10px 5px #d1d1d180;
    -webkit-box-shadow: 0px 10px 5px #b3b3b380;
    -moz-box-shadow: 0px 10px 5px #b9b9b980;
    position: relative;
    z-index: 999999;
    background-color: black;
}

li, a, button {
    font-family: "Abril Fatface", cursive;
    font-weight: lighter;
    font-size: 16px;
    color: #e487bf;
    text-decoration: none;
}

#nav-txt {
    font-family: "Abril Fatface", cursive;
    background: -webkit-linear-gradient(left, rgb(219, 108, 219), rgb(250, 223, 250));
    background: -o-linear-gradient(right, rgb(219, 108, 219), rgb(250, 223, 250));
    background: -moz-linear-gradient(right,rgb(219, 108, 219), rgb(250, 223, 250));
    background: linear-gradient(to right, rgb(219, 108, 219), rgb(250, 223, 250));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 40px;
    margin-right: auto;
}

.container {
    margin: 0 auto;
    flex-grow: 1;
}

footer {
    background-color: lightgray;
    padding: 20px 20px;
    margin: 30px 0px;
}

#welcome-title {
    display: flex;
    font-family: 'Parisienne', cursive;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: lighter;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 100vw;
}

main {
    font-size: 12px;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub-2 {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

#sub-1 {
    margin: 10px;
    display: flex;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
}

.cta {
    color: white;
}

button {
    padding: 9px 25px;
    background-color: rgba(245, 173, 216, 0.8);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover {
    background-color: rgb(235, 193, 218);
}

#pfp {
    max-width: 30vh;
}

.container-1 {
    display: flex;
    padding-left: 25vw;
    padding-right: 200px;
}

#container1-text {
    margin-left: 50px;
    margin-right: 15vw;
    font-size: 18px;
    font-weight: lighter;
}